$base: #FAFAFA;
$base-dark: #E0E0E0;
$base-light: #FFFFFF;
$on-base: #000000;

$primary: #0277BD;
$primary-dark: #01579B;
$primary-light: #58A5F0;
$on-primary: #FFFFFF;

$secondary: #F44336;
$secondary-dark: #B90007;
$econdary-light: #FF795D;
$on-secondary: #FFFFFF;

$error: #B00020;
$on-error: #FFFFFF;

$success: #99AA00;
$on-success: #FFFFFF;
